---
import "../../styles/global.css";
import Header from "../03-Organisms/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class:list={[
        "relative grid grid-cols-[4.5rem_auto] text-white",
        "sm:grid-cols-[6rem_auto]",
        "md:grid-cols-[14rem_auto]",
        "lg:grid-cols-[22rem_auto]",
      ]}
    >
      <Header />
      <main class="relative left-0 h-[2000px]">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    background-color: var(--color-primary);
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
