@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

@theme {
  /*Colors*/
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #300350;

  --color-pink: #fc05a1;

  --color-turquoise: #00fee8;

  /*Breakpoints*/
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;

  /*Font*/

  --font-press-start-2p-regular: "Press Start 2P", sans-serif;
}
