---
import icon from "../../img/logo.png";
import Image from "astro/components/Image.astro";
---

<header
  class:list={[
    "border-pink fixed h-screen w-[4.5rem] overflow-hidden border-l-[10px] bg-black",
    "sm:w-[6rem]",
    "md:w-[14rem]",
    "lg:w-[20rem]",
  ]}
>
  <a class="" href="/"
    ><Image
      class="w-full max-w-40 px-2 pt-10 pb-12"
      src={icon}
      alt="Mon logo"
    /></a
  >
  <ul
    class:list={[
      "flex flex-col items-center gap-y-6 text-center text-2xl",
      "md:text-left md:text-3xl",
    ]}
  >
    <li>
      <a href="#" class="md:w-fit"
        ><i class:list={["fa-solid fa-house", "md:!hidden"]}></i><span
          class:list={["hidden", "md:inline md:px-3"]}>Acceuil</span
        ></a
      >
    </li>
    <li>
      <a href="#" class="md:w-fit"
        ><i class:list={["fa-solid fa-id-card", "md:!hidden"]}></i><span
          class:list={["hidden", "md:inline md:px-3"]}
        >
          À propos
        </span></a
      >
    </li>
    <li>
      <a href="#" class="md:w-fit"
        ><span class:list={["hidden", "md:inline md:px-3"]}>Projets</span><i
          class:list={["fa-solid fa-code", "md:!hidden"]}></i></a
      >
    </li>
    <li>
      <a href="#" class="md:w-fit"
        ><span class:list={["hidden", "md:inline md:px-3"]}>Me contacter</span
        ><i class:list={["fa-regular fa-paper-plane", "md:!hidden"]}></i></a
      >
    </li>
  </ul>
</header>

<style lang="scss">
  ul {
    a {
      display: block;
      padding: 12px 0;
      position: relative;
      z-index: 1;

      &:hover {
        color: #000;
        &::before {
          translate: 0;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--color-pink);
        width: 100%;
        height: 100%;
        translate: -100%;
        z-index: -1;
        transition: translate 0.1s ease-in-out;
      }
    }
  }

  li {
    width: 100%;
  }
</style>
